---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakTemplateDeclarations: Yes
ColumnLimit: 120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
LineEnding: LF
NamespaceIndentation: All
PackConstructorInitializers: Never
PointerAlignment: Right
ReferenceAlignment: Pointer
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never
